.album-page {
    width: 100vw;
    height: 87vh;

    .add-picture {
        margin: 11rem 6rem -11rem;
        .create-btn {
            font-size: 1.5rem;
            background-color: rgb(133, 243, 133);
        }
    }
    .container {
        padding-top: 13rem;
        box-sizing: border-box;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .pictures__list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 15rem;
        }
    }
}
