.not-found {
    background-color: whitesmoke;
    text-align: center;
    padding: 10rem;
    max-width: 75rem;
    margin: 0 auto;
    height: 100%;

    span {
        font-size: 10rem;
    }
}

.description {
    font-size: 25px;
}
