.not-found {
    text-align: center;
    padding: 10rem;
    max-width: 75rem;
    margin: 0 auto;
    height: 100%;

    span {
        font-size: 12rem;
    }
}

.description {
    font-size: 2.5rem;
}
