.album-page {
    width: 100vw;
    .add-album {
        margin: 11rem 6rem -11rem;
        z-index: 1000;
        .create-btn {
            font-size: 1.5rem;
            background-color: rgb(133, 243, 133);
        }
    }
}
