.button {
    height: 5.6rem;
    width: 15rem;
    font-size: 0.7rem;
    color: black;
    background-color: white;
    border: 0.05rem solid rgb(208, 208, 208);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    transition: all 0.3s;
    border-radius: 8px;

    &:hover {
        border: none;
        background-color: #0e1111;
        color: #ffffff;
        transform: translateY(-0.2rem);
        box-shadow: 0 0.2rem 1rem black;
    }

    &:active {
        transform: translateY(0.1rem);
        box-shadow: 0 0.1rem 0.5rem black;
    }
}
