.vote-btn {
    font-size: 1.3rem;
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    position: relative;
    color: black;

    transition: all 0.3s;

    &.voted {
        p {
            color: white;
        }
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-20%);
        -webkit-filter: drop-shadow(0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.7));
    }

    &:hover .vote {
        filter: invert(100%) sepia(9%) saturate(0%) hue-rotate(25deg)
            brightness(102%) contrast(102%)
            drop-shadow(0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.7));
    }

    &:active .vote {
        filter: none;
    }

    &:active {
        transform: translateY(10%);
        -webkit-filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7));
        filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7));
    }
}

.vote-count {
    &--positive,
    &--negative {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 120%);
        transition: none;
    }

    &--negative {
        transform: translate(-50%, 210%);
    }
}

.vote {
    display: flex;
    font-size: 10.5rem;
}
