#root {
    width: 100vw;
    text-align: center;
    background-color: whitesmoke;
    color: rgb(121, 121, 121);
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:nth-child(odd) {
    background: #fff;
}

th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
}
