.pagination {
    display: flex;
    justify-content: center;

    li {
        display: inline-block;
    }

    a {
        color: #666;
        display: inline-flex;
        justify-content: center;
        width: 45px;
        line-height: 42px;
        height: 45px;
        border: 1px solid #666;
        border-radius: 1rem;
        margin-right: 15px;
        cursor: pointer;

        transition: 0.5s all ease;

        &:hover {
            background-color: #666;
            color: white;
        }
    }
}

:global {
    .selected {
        a {
            background-color: #666;
            color: white;
        }
    }
}
